:root {
    --white: #e9e9ed;
  }
body{ 
    background-color: rgb(40,43,48); 
    font-family: 'Whitney', sans-serif;
    font-size: large;
    padding: none;
    margin: none;
    color: rgb(233, 233, 233);
}


/* ---------------------------------------------- */

.bordered{
    margin:  3px;
    padding: 5px;
    background-color: rgb(54,57,62);
    border-radius: 8px;
    width: 280px;  
}
.long{
    width:585px;
}
.websiteLogo{
    padding:none;
    vertical-align:middle;
}
h1{
    font-size: xx-large;
    text-align: left;
}
hr{
    color:rgb(30,33,36);
    box-shadow:0px 2px 4px;
    max-width: 600px; 
    margin-left:0;
}
.subBlock{
    display:inline-block;
    width:  300px; 
    height: 150px;
    vertical-align: top;
}
.longBlock{
    display:inline-block;
    width: 600px; 
}

/* ---------------------------------------------- */

button{
    background-color: var(--white);
    border: none;
    color: black;
    border-radius: 8px;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    cursor:pointer;
    transition: 0.2s;
    width:120px;
    height:40px;
    font-size:medium;
}
button:hover{
    background-color: rgb(179, 223, 179);
    transition: 0.2s;
    color:black;
}

.buttonSmall{
    height:20px;
    width: 70px;
    padding: 0px;
    line-height: 5px;
    border-radius: 4px;
    text-align: center;
    font-size: small;
    vertical-align: center;
    margin:none;
}
/* ---------------------------------------------- */
#cardSearcher{ 
    transition:0.2s;
    border:none;
    border-radius:3px 0px 0px 3px;
}
#cardSearcher:hover{
    background-color:rgb(179, 223, 179);
    transition:0.2s;
}
#SearcherButt{
    width:20px; 
    padding:2px; 

    margin:none;
    margin-top:2px;
    background-color:var(--white);
    border-radius:0px 3px 3px 0px;
    border:none;
    height:20px;
    vertical-align: top;
    font-size: small;
}
#SearcherButt:hover{
    background-color:rgb(179, 223, 179)
}

